<div class="box">
    <div class="block">
        <h3 class="subtitle is-3 has-text-centered">
            Nova coleção
        </h2>
    </div>

    <hr />

    <div class="block">
        <%= render 'form', collection: @collection %>
    </div>
</div>
