<div class="column is-4-tablet is-3-desktop is-2-widescreen">
  <aside data-controller="sidebar" class="box menu">
    <p class="menu-label">
      Coleções
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to 'Minhas', owned_collections_path %>
      </li>
      <li>
        <%= link_to 'Favoritas', favorite_collections_path %>
      </li>
      <li>
        <%= link_to 'Públicas', public_collections_path %>
      </li>
    </ul>
  </aside>
</div>